<!-- 面包屑 -->
<ul class="breadcrumb">
    <li><a href="/admin/">管理</a><span class="divider">/</span></li>
    <li><a href="/admin/users">用户</a><span class="divider">/</span></li>
    <li class="active">修改用户</li>
</ul>

    <form class="form-horizontal" method="post" action="/admin/edituser">
        <input type="hidden" name="uid" value="<%- user.id %>"/>
        <legend>修改用户</legend>
        <div class="controls-group">
            <label class="control-label" for="username">用户名</label>
            <div class="controls">
                <input type="text" id="username" name="username"  value="<%- user.username %>"/>
            </div>
        </div>
        <div class="controls-group">
            <label class="control-label" for="nickname">昵称</label>
            <div class="controls">
                <input type="text" id="nickname" name="nickname"  value="<%- user.nickname %>"/>
            </div>
        </div>
        <div class="controls-group">
            <label class="control-label" for="password">密码</label>
            <div class="controls">
                <input type="text" id="password" name="password"  value="<%- user.password %>"/>
            </div>
        </div>
        <div class="controls-group">
            <label class="control-label" for="email">邮件</label>
            <div class="controls">
                <input type="text" id="email" name="email"  value="<%- user.email %>"/>
            </div>
        </div>
        <div class="controls-group">
            <label class="control-label" for="phone">电话</label>
            <div class="controls">
                <input type="text" id="phone" name="phone"  value="<%- user.phone %>"/>
            </div>
        </div>
        <div class="controls-group">
            <label class="control-label" for="qq">QQ</label>
            <div class="controls">
                <input type="text" id="qq" name="qq"  value="<%- user.qq %>"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">修改</button>
            </div>
        </div>
    </form>