<ul class="breadcrumb">
    <li><a href="#">管理</a> <span class="divider">/</span></li>
    <li><a href="#">资讯</a> <span class="divider">/</span></li>
    <li class="active">修改分类</li>
</ul>
<form class="form-horizontal" method="post" action="">
    <input type="hidden" name="cid" value="<%- category.id %>"/>
    <legend>修改分类</legend>
    <div class="control-group">
        <label class="control-label" for="name">中文名称</label>
        <div class="controls">
            <input type="text" id="name" name="name"  value="<%- category.name %>"/>
        </div>
    </div>


    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">修改</button>
        </div>
    </div>
</form>