<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ico/favicon.ico">

    <title>登录系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/admin/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="/lib/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/lib/html5shiv.js"></script>
      <script src="/lib/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

    <% if(locals.error){ %>
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <strong><%= error %></strong>
      </div>
      <% } %>


      <form class="form-signin" role="form" method="post" action="/admin/login">
      	<input type="hidden" name="dosubmit" value="yes"/>
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" name="name" id="name" placeholder="账号" required autofocus>
        <input type="password" class="form-control" name="pass" id="pass" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="yes" name="remember" id="remember"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>