<!-- 面包屑 -->
<ul class="breadcrumb">
    <li><a href="/admin/">管理</a><span class="divider">/</span></li>
    <li><a href="/admin/newscategory"></a><span class="divider">/</span></li>
    <li class="active">资讯分类列表</li>
</ul>
<table class="table table-bordered">
    <tr>
        <th>编号</th><th>分类名称</th><th>管理</th>
    </tr>
    <% categorylist.forEach(function(cate){%>
    <tr>
        <td><%- cate.cateid%></td>
        <td><%- cate.catename %></td>
        <td>
            <a href="/admin/editnewscate?cid=<%-cate.id%>">UP</a>|
            <a href="/admin/delnewscate?cid=<%-cate.id%>">DEL</a>
        </td>
     </tr>
    <%})%>
</table>
<hr/>
<form class="form-horizontal" method="post" action="/admin/addnewscate">
    <legend>添加分类</legend>
    <div class="controls-group">
        <label class="control-label" for="cateid">分类编号</label>
        <div class="controls">
            <input type="text" id="cateid" name="cateid"/>
        </div>
    </div>
    <div class="controls-group">
        <label class="control-label" for="catename">分类名称</label>
        <div class="controls">
            <input type="text" id="catename" name="catename"/>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">添加</button>
        </div>
    </div>
</form>
