<!-- 面包屑 -->
<ul class="breadcrumb">
    <li><a href="/admin/">管理</a><span class="divider">/</span></li>
    <li><a href="/admin/news">资讯</a><span class="divider">/</span></li>
    <li class="active">资讯列表</li>
</ul>
<p><a href="/admin/addnews/">添加资讯</a></p>
<table class="table table-bordered">
    <tr>
        <th>标题</th><th>分类</th><th>分类ID</th><th>时间</th><th>管理</th>
    </tr>
    <% newslist.forEach(function(news){%>
    <tr>
        <td><%- news.title %></td>
        <td><%- news.catename %></td>
        <td><%- news.cateid %></td>
        <td><%- news.created %></td>
        <td>
            <a href="/admin/editnews?id=<%-news.id%>">UP</a>|
            <a href="/admin/delnews?id=<%-news.id%>">DEL</a>
        </td>
    </tr>
    <%})%>
</table>
