

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-9">
           
         <% articles.forEach(function(article){ %>
           <dl>
            <dd><a href="<%- article.url %>"><%- article.title %></a> <span class="pull-right"><%- article.created %></span> </dd>
          </dl>
           <% }) %>
         
        </div>
         
        <div class="col-md-3">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      

